<header class="header">
    <div class="blog-name">
        <span>Tendu</span>
    </div>
    <nav class="nav">
        <a href="/">Главная</a>
        <a href="/posts">Публикации</a>
        <a href="">Войти</a>
    </nav>
</header>